<div class="loginContainer">
    <div class="imagen">
        <img id="fondo" src="../../../assets/images/imagen_login.jpg" alt="">
        <div class="banda-imagen">
            <span class="mensaje">Plataforma para la trazabilidad y centralización de la información de energías renovables</span>
            <img id="logo-blanco" src="../../../assets/images/Logo-MVM-blanco.png" alt="">
        </div>
    </div>
    <div class="container-loginForm">
        <div class="loginForm">

            <form>
                <span class="title-black mb-60">Bienvenido a la plataforma Energychain de MVM</span>
                <!-- <label for="fname">Usuario</label>
                <input id="input" class="mb-20" type="text" name="fname">
                <label for="lname">Contraseña</label>
                <input id="input" class="mb-20" type="text" name="lname">
                <div class="password mb-40">
                    <div>
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1">Recordar contraseña</label><br>
                    </div>
                    <a class="a-green" href="">¿Olvidaste tu contraseña?</a>
                </div> -->
                <button class="mb-20" mat-button (click)="onLogin()">Login</button>
                <!-- <div class="no-cuenta mb-20">
                    <span>¿No tienes cuenta?</span>
                    <a class="a-green" href="">Registrarse</a>
                </div> -->
            </form>

        </div>
        <div class="logo-plataforma">
            <img src="../../../assets/images/logo_plataforma.png" alt="">
        </div>
    </div>
</div>