<div class="container">
    
    <form [formGroup]="generadorForm" (submit)="guardarGenerador()">
        
        <div class="login" fxLayout="column" fxLayoutAlign="center center" >
            <h1>Agregar generadores de energía</h1>
            <mat-progress-spinner mode="indeterminate" [diameter]="50" class="spinner" *ngIf="loading"></mat-progress-spinner>
            <mat-form-field class="input" appearance="fill">
                <mat-label>Nombre del generador</mat-label>
                <input matInput formControlName="nombreGenerador" autocomplete="off">
            </mat-form-field>
            <!--
            <mat-form-field class="input" appearance="fill">
                <mat-label>Tokens</mat-label>
                <input matInput type="number" formControlName="cantidad" autocomplete="off">
            </mat-form-field>
            -->
            <button class="button-mvm" mat-raised-button type="submit">Agregar</button>
        </div>
    </form>
</div>