<div mat-dialog-content *ngIf="comercializadores">
    <div class="dialgo-close-brand">
        <img src="../../../assets/images/cerrar.svg" alt="cerrar" (click)="dialogRef.close()">
    </div>
    <div class="modal-header-mvm">
        <img src="../../../../assets/images/contratar-green.svg" alt="contratar">
        <h2 class="modal-title-mvm mt-20">Contratar comercializador</h2>
    </div>
    <form [formGroup]="contratarForm">
        <div class="row">
            <div class="col">
                <div class="form-field">
                    <label>Comercializadores disponibles</label>
                    <select class="custom-select" formControlName="comercializador">
                        <option [value]=""></option>
                        <option *ngFor="let comercializador of comercializadores, let index=index" [ngValue]="comercializador">
                            {{comercializador.empresa}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </form>

    <mat-card class="custom mt-20 mb-20 fadeIn" *ngIf="comercializadorSeleccionado">
        <mat-card-title>Empresa: {{comercializadorSeleccionado.empresa}}</mat-card-title>
        <mat-card-subtitle>Nit: {{comercializadorSeleccionado.nit}}</mat-card-subtitle>
        <mat-card-content>
            <p>
                Dueño del contrato: {{comercializadorSeleccionado.owner}}
            </p>
            <p>
                Contacto: {{comercializadorSeleccionado.contacto}}
            </p>
            <p>
                Teléfono: {{comercializadorSeleccionado.telefono}}
            </p>
            <p>
                Correo: {{comercializadorSeleccionado.correo}}
            </p>
            <p>
                Departamento: {{comercializadorSeleccionado.departamento}}
            </p>
            <p>
                Ciudad: {{comercializadorSeleccionado.ciudad}}
            </p>
            <p>
                Dirección: {{comercializadorSeleccionado.direccion}}
            </p>
        </mat-card-content>
    </mat-card>

    <div class="d-flex justify-content-center flex-row-reverse mt-20">
        <button class="button-mvm w-160" mat-ripple [disabled]="!validForm" (click)="onContratar()">Contratar</button>
        <button class="cancel-button-mvm w-160 mr-30" mat-ripple (click)="dialogRef.close()">Cancelar</button>
    </div>
</div>