
<div class="ethereum-grid">
    <h1>{{textoPrueba}}</h1>
    <div class="flex chart-price">
        <div class="flex-item">
        <div style="display: block;">
        <canvas baseChart width="800" height="200"
                    [data]="lineChartData"
                    [options]="lineChartOptions"
                    [type]="lineChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
        </div>
        </div>
    </div>

</div>

