<div class="container">
    <div class="titulo">
        <h2 class="title-xg">Ordenes de despacho</h2>
    </div>

    <app-filter *ngIf="filterFormProperties.length>0" [rowsForm]="filterFormProperties" (onfieldValueChange)="onfieldValueChange($event)"></app-filter>

    <div class="table-container mt-30 fadeIn">
        <mat-table #table [dataSource]="dataSource" class="mvm-table">

            <ng-container matColumnDef="generador">
                <mat-header-cell *matHeaderCellDef>Generador</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.nombreGenerador}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="capacidadNominal">
                <mat-header-cell *matHeaderCellDef>Capacidad nominal Mwh</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.capacidadNominal}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="cantidadProducida">
                <mat-header-cell *matHeaderCellDef>Energia despachada Mw</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.cantidadProducida}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="despacho">
                <mat-header-cell *matHeaderCellDef>Asignar despacho Mw</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <input [(ngModel)]="element.cantidadEnergia" class="ml-3" type="number" autocomplete="off">
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="acciones">
                <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
                <mat-cell *matCellDef="let element; let index = index">
                    <button matRipple class="button-mvm-asignar" [disabled]="element.estadoSolicitud == 0 || element.estadoSolicitud == 1" matTooltip="Aceptar solicitud">
                        <mat-icon (click)="onDespacharEnergia(element)">person_add</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row class="fadeIn" *matHeaderRowDef="displayedColumns; sticky: true "></mat-header-row>
            <mat-row *matRowDef="let row; columns:displayedColumns "></mat-row>
        </mat-table>
    </div>

    <div class="table-container mt-10 fadeIn ">
        <mat-paginator class="mvm-paginator " #paginator [pageSizeOptions]="[5,10, 25, 100 ] " showFirstLastButtons></mat-paginator>
    </div>
</div>