<div class="container">
    <div class="titulo">
        <h2 class="title-xg">Plantas de generación</h2>
    </div>

    <app-filter *ngIf="filterFormProperties.length >0" [rowsForm]="filterFormProperties" (onfieldValueChange)="onfieldValueChange($event)"></app-filter>

    <div class="actions-container fadeIn mt-30">
        <div class="d-flex flex-row-reverse">
            <button class="button-mvm w-160" mat-ripple (click)="onCrearPlanta()">
                <img src="../../../../assets/images/carbon_energy-renewable.svg" alt="" class="crear-planta-logo">
                Crear Planta
            </button>
            <button class="button-mvm w-180 mr-10" mat-ripple (click)="onComprarEnergia()">
                <img src="../../../../assets/images/carbon_energy-renewable.svg" alt="" class="crear-planta-logo">
                Comprar energía
            </button>
        </div>
    </div>

    <div class="table-container mt-30 fadeIn">
        <mat-table #table [dataSource]="dataSource" class="mvm-table">
            <ng-container matColumnDef="nombre">
                <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.nombre}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="ubicacion">
                <mat-header-cell *matHeaderCellDef>Ubicación</mat-header-cell>
                <mat-cell *matCellDef="let element, let index=index" [matTooltip]="ubicaciones[index]">{{ubicaciones[index]|limitText:15}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="coordenadas">
                <mat-header-cell *matHeaderCellDef>Coordenadas</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.coordenadas}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="fechaOperacion">
                <mat-header-cell *matHeaderCellDef>Fecha inicio Operaciones</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.fechaInicio}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="tasaEmision">
                <mat-header-cell *matHeaderCellDef>Tasa de emisión</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.tasaEmision}} MWh</mat-cell>
            </ng-container>
            <ng-container matColumnDef="capacidad">
                <mat-header-cell *matHeaderCellDef>Capacidad nominal</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.capacidadNominal}} MWh</mat-cell>
            </ng-container>
            <ng-container matColumnDef="tecnologia">
                <mat-header-cell *matHeaderCellDef>Tecnologia</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.tecnologia}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="cantidad">
                <mat-header-cell *matHeaderCellDef>Cantidad de energia</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.cantidadEnergia}} MWh</mat-cell>
            </ng-container>
            <ng-container matColumnDef="estado">
                <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.estado|estadoPlanta}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="acciones">
                <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button matRipple class="mvm-action-button approve" (click)="onInyectarEnergia(element)" matTooltip="Inyectar energia">
                        <img src="../../../../assets/images/Energía.svg" alt="energia">
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true "></mat-header-row>
            <mat-row class="fadeIn" *matRowDef="let row; columns:displayedColumns"></mat-row>
        </mat-table>
    </div>

    <div class="table-container mt-10 fadeIn">
        <mat-paginator class="mvm-paginator " #paginator [pageSizeOptions]="[5,10, 25, 100 ] " showFirstLastButtons></mat-paginator>
    </div>
</div>