@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

.rol{
    font-size: 16px;
    font-family: 'Montserrat',"Helvetica Neue", sans-serif;
}

.spacer {
    flex: 1 1 auto;
}

.avatar-container img{
    width: 50%;
}

mat-toolbar button{
    color: var(--gris-claro);
}

.toolbar .btn-rol:hover{
    border-radius: 15px;
}



/* .avatar-container img {
    width: 100%;
    object-fit: contain;
} */


/*
.container mat-toolbar{
    display: flex;
}
*/