<div class="container container-registros-detalle">
    <div class="titulo">
        <h1 class="title-xg">Registros detalle</h1>
    </div> 
    <div class="subtitulo">
        <a class="color-green">Administrador</a>
        <mat-icon>keyboard_arrow_right</mat-icon>
        <a class="color-green">Registros</a>
        <mat-icon>keyboard_arrow_right</mat-icon>
        <a class="color-green">Dealle</a>
        <mat-icon>keyboard_arrow_right</mat-icon>
        <a class="color-green">Nombre de actor</a>
    </div>
</div> 
