<div mat-dialog-content>
    <div class="dialgo-close-brand">
        <img src="../../../assets/images/cerrar.svg" alt="cerrar" (click)="dialogRef.close()">
    </div>
    <div class="modal-header-mvm">
        <img src="../../../../assets/images/Energia-green.svg" alt="energia">
        <h2 class="modal-title-mvm mt-20">Comprar tokens</h2>
    </div>
    <form [formGroup]="comprarEnergiaForm">
        <!-- <div class="row">
            <div class="col">
                <div class="form-field">
                    <label>Tipo de energia</label>
                    <select class="custom-select" formControlName="tipoEnergia">
                        <option [value]=""></option>
                        <option *ngFor="let tipoEnergia of tiposEnergia" [ngValue]="tipoEnergia">
                            {{tipoEnergia.nombre}}
                        </option>
                    </select>
                </div>
            </div>
        </div> -->
        <div class="row mt-20">
            <div class="col">
                <div class="form-field">
                    <label>Cantidad de tokens</label>
                    <input formControlName="cantidadEnergia" type="number">
                </div>
            </div>
        </div>
        <div class="row mt-20">
            <div class="col">
                <div class="form-field">
                    <label>Precio en COP</label>
                    <input formControlName="valorCompra" type="number">
                </div>
            </div>
        </div>

        <!-- <div class="row mt-20">
            <div class="col">
                <div class="form-field">
                    <label>Tokens delegados</label>
                    <input formControlName="tokensDelegados" type="number">
                </div>
            </div>
        </div> -->

        <div class="d-flex justify-content-center flex-row-reverse mt-20">
            <button class="button-mvm w-160" mat-ripple (click)="onComprarTokens()">Comprar</button>
            <!-- <button class="button-mvm w-160" mat-ripple [disabled]="!isComprarValid" (click)="onComprarTokens()">Comprar</button> -->
            <button class="cancel-button-mvm w-160 mr-30" mat-ripple (click)="onCancelar()">Cancelar</button>
        </div>
    </form>
</div>